name: Build & Deploy to EC2

on:
  push:
    branches: [ "master" ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4.1.0
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::230225761161:role/github-action-role

      - name: test aws connection
        run: aws sts get-caller-identity

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # - name: Log in to GHCR
      #   uses: docker/login-action@v3
      #   with:
      #     registry: ghcr.io
      #     username: ${{ github.actor }}
      #     password: ${{ secrets.GITHUB_TOKEN }}

      # - name: Build & push image
      #   uses: docker/build-push-action@v6
      #   with:
      #     context: .
      #     push: true
      #     tags: |
      #       ghcr.io/${{ github.repository }}:todolist-latest
      #       ghcr.io/${{ github.repository }}:${{ github.sha }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: mattedlopez88
          password: dckr_pat_7nysEBEDTdhqoiegO1d9rVDNWQo

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            docker.io/mattedlopez88/todolist-api:latest
            docker.io/mattedlopez88/todolist-api:${{ github.sha }}
      - name: Deploy using SSM
        run: |
          aws ssm send-command \
            --instance-ids "${{ vars.EC2_INSTANCE_ID }}" \
            --document-name "AWS-RunShellScript" \
            --parameters commands='[
              "cd /opt/todolist",
              "docker compose pull",
              "docker compose up -d",
              "docker image prune -f"
            ]'

#      - name: Deploy on EC
#        uses: appleboy/ssh-action@v1.0.3
#        with:
#          host: ec2-44-220-63-126.compute-1.amazonaws.com
#          username: ubuntu
#          key: ${{ secrets.EC2_SSH_KEY }}
#          script: |
#            set -e
#            cd /opt/todolist
#            docker compose pull
#            docker compose up -d
#            docker image prune -f
#            docker ps